<div class="col-md-12">

    <div class="col-md-3 col-md-offset-1 admin-bg">
        <a href="/computers" class="btn btn-lg btn-primary">Ordinateurs</a>
    </div>

    <div class="col-md-3 col-md-offset-4 admin-bg">
        <a href="/users" id="user_btn" class="btn btn-lg btn-primary">Utilisateurs</a>
    </div>


    <div class="col-md-3 col-md-offset-1 admin-bg">
        <a href="/add_cpu" id="cpu_btn" class="btn btn-lg btn-primary">Ajouter un nouvel Ordinateur </a>
    </div>

    <div class="col-md-3 col-md-offset-4 admin-bg">
        <a href="/sav" id="user_btn" class="btn btn-lg btn-primary">Voir les SAV</a>
    </div>

</div>

