<div class="col-md-12 margin-top">

    <% if (error) { %>
    <div class="alert alert-danger">
        <p class="error">Une erreur est survenue merci de ressayer</p>
    </div>
    <% } %>


    <form action="/create" method="post">

        <div class="form-group">
            <label for="number" class="label_auth ">Numéro du Chèque</label>
            <input type="text" name="number" class="form-control" id="number" required>
        </div>

        <div class="form-group">
            <label for="from" class="label_auth ">le </label>
            <input type="date" name="from" class="form-control" id="from" required>
        </div>

        <div class="form-group">
            <label for="in" class="label_auth ">A </label>
            <input type="text" name="in" class="form-control" id="in" required>
        </div>

        <div class="form-group">
            <label for="lastname" class="label_auth ">Nom de Famille de la caution </label>
            <input type="text" name="lastname" class="form-control" id="lastname" required>
        </div>

        <div class="form-group">
            <label for="firstname" class="label_auth ">Prénom de la caution </label>
            <input type="text" name="firstname" class="form-control" id="firstname" required>
        </div>

        <div class="form-group">
            <label for="adress" class="label_auth ">Adresse de la caution </label>
            <input type="text" name="adress" class="form-control" id="adress" required>
        </div>

        <div class="form-group">
            <label for="town" class="label_auth ">ville </label>
            <input type="text" name="town" class="form-control" id="town" required>
        </div>

        <div class="form-group">
            <label for="email" class="label_auth ">Email de la Caution </label>
            <input type="email" name="email" class="form-control" id="email" required>
        </div>

        <div class="form-group">
            <label for="phone" class="label_auth ">Téléphone de la caution </label>
            <input type="tel" name="phone" class="form-control" id="phone" required>
        </div>

        <div class="form-group">
            <label for="date" class="label_auth">Date d'éxpiration</label>
            <input type="date" name="date" class="form-control" id="date" required>
        </div>

        <div class="form-group">
            <label for="amount" class="label_auth">Montant</label>
            <input type="text" name="amount" class="form-control" id="amount" required>
        </div>


        <div class="col-md-4 col-md-offset-5">
            <input type="submit" class="btn btn-lg btn-primary" value="S'inscrire">
        </div>
    </form>
</div>