<div class="col-md-12">

    <div class="col-md-3 col-md-offset-1 admin-bg">
        <a href="/available" class="btn btn-lg btn-primary">Voir les ordinateurs</a>
    </div>

    <div class="col-md-3 col-md-offset-4 admin-bg">
        <a href="/add" id="user_btn" class="btn btn-lg btn-primary">Compléter son profil</a>
    </div>


</div>

